DB_PASSWORD=8XRryNrJSXc4M7@tgb!Pn7Eyd3.+hMz6
MINIO_ACCESS_KEY=NTAPP_MINIO_2026_AK
MINIO_SECRET_KEY=NtApp_Minio_SecKey_9F2mP4xL7zQ1wB6eR8tY
MINIO_ROOT_USER=NTAPP_MINIO_2026_AK
MINIO_ROOT_PASSWORD=NtApp_Minio_SecKey_9F2mP4xL7zQ1wB6eR8tY