.env
.env.*
!.env.example
*.env
http-client.env.json
*.private.env.json
secrets.json

appsettings.local.json
appsettings.Development.local.json
appsettings.Production.json
*.pfx
*.p12

[Bb]in/
[Oo]bj/
publish/
*.bundle/

*.binlog
msbuild.log
msbuild.err
msbuild.warn

logs/
*.log

.vs/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.sln.iml

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

[Tt]est[Rr]esults/
coverage/
*.opencover.xml

.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
*~

